/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  font-family: var(--content-font-variable), Arial, sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  background-image: var(--background-gradient-color);
  background-color: var(--accent-background-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.floppy {
  fill: var(--color-text-button);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 527px;
  block-size: 100%;
}

.header__block-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 371px;
  max-inline-size: 698px;
  padding: 120px 14px 25px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-background-color);
  font-family: var(--content-font, Arial, sans-serif);
  text-transform: uppercase;
  inline-size: 100%;
  text-align: center;
}

.header__title {
  font-weight: 400;
  font-size: var(--header-title-font-size);
}

.header__subtitle {
  margin-block-start: 20px;
  text-align: center;
  font-size: var(--header-subtitle-font-size);
}

.header__theme-menu {
  margin-block-start: 22px;
  margin-inline-start: 20px;
  text-align: start;
}

.theme-menu__list {
  display: grid;
  gap: 8px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  inset-inline-start: -15px;
  inset-block-start: 0px;
  transform: translateY(-50%);
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

.theme-menu__item:hover {
  transition: ease 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}
.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  transition: width 0.5s;
  background-color: var(--accent-color);
}

.link-nice:hover::after {
  width: 100%;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: ease 0.3s;
}

/* Контент */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  max-inline-size: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
}

.section:not(:first-of-type) {
  margin-block-start: 53px;
}

.section-box {
  inline-size: 100%;
  padding: 4px 10px;
  background-color: var(--accent-background-color);
  outline: 2px solid var(--accent-color);
  margin-bottom: 2px;
}

.section__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--content-title-weight);
}

.section__info {
  position: relative;
}

.section__info label {
  font-family: var(--content-font), Arial, sans-serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow:
    var(--content-text-shadow) 1px 1px 0,
    var(--content-text-shadow) -1px -1px 0,
    var(--content-text-shadow) -1px 1px 0,
    var(--content-text-shadow) 1px -1px 0;
  text-stroke: 1px var(--content-text-shadow);
  opacity: 50%;
  position: absolute;
  color: var(--accent-color);
  inset-inline-end: 13px;
  inset-block-start: 25px;
  z-index: 2;
}

.section__img {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* Фильтры для картинок */

.img-brightness {
  filter: brightness(200%);
}

.img-contrast {
  filter: contrast(240%);
}

.img-blur {
  filter: blur(0.3rem);
}

.img-opacity {
  filter: opacity(0.8);
}

.img-grayscale {
  filter: grayscale(0.8);
}

.img-saturate {
  filter: saturate(50%);
}

.img-hue-rotate {
  filter: hue-rotate(-90deg);
}

.img-difference {
  filter: sepia(1) contrast(2) brightness(150%);
}

.section__block {
  display: grid;
  background-color: var(--accent-background-color);
  gap: 25px;
  padding: 25px;
  margin-block-start: 2px;
  outline: 2px solid var(--accent-color);
}

.section__text {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--content-text-weight);
}

.section__controls {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 7px;
}

.card__icon-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--content-font), fantasy, sans-serif;
  color: var(--color-text-button);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 10px 40px;
  font-size: 14px;
  inline-size: 130px;
  block-size: 38px;
  cursor: pointer;
  justify-self: end;
  overflow: hidden;
}

.button-content:focus {
  outline: none;
}

.button-content:after {
  content: "";
  background: var(--accent-color);
  position: absolute;
  transform: translateX(-100%);
  inset: 0;
  transition: 0.5s linear;
}

.button-content:hover:after {
  transform: translateX(0%);
}

.button-content:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: linear 0.3s;
}

.button__text {
  color: var(--color-text-button);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.click__save {
  margin-block-end: 102px;
  margin-block-start: 53px;
}

.click__save-button {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  background: var(--accent-background-color);
  min-inline-size: 306px;
  padding: 15px 20.5px;
  overflow: hidden;
}

.click__save-button .floppy {
  display: block;
  inline-size: 28px;
  block-size: 28px;
}

.click__save-button-link {
  font-family: var(--content-font), fantasy, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-text-button);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.click__save-button:hover .floppy {
  mix-blend-mode: difference;
  z-index: 2;
}

.click__save-button:hover .click__save-button-link {
  mix-blend-mode: difference;
  z-index: 2;
}


.like-icon {
  inline-size: 39px;
  block-size: 36px;
  transition: 0.03s;
}

.heart:focus {
   outline: none;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  outline: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: 0.3s ease;
} 

/* Стилизация для иконки сердца */

.main-body {
  opacity: 0;
  transition: 0.3s;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: 0.3s;
}

.core {
  opacity: 0;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}


.card__icon-button:hover .core {
  transition: 0.3s;
  opacity: 1;
}

.card__icon-button:hover .main-body {
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  opacity: 1;
}

.card__icon-button:active .core {
  --core-fill: #ff0000;
  transition: 0.3s;
  opacity: 1;
}

.card__icon-button:active .main-body {
  --main-body-fill: #ff0000;
  transition-delay: 0.05s;
  transition: 0.3s;
  opacity: 1;
}
 
.card__icon-button:active .contour {
  --heart-contour: #ff0000;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
} 

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
} 

.like-icon.is-liked .contour,
.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  animation: scale-icon 0.3s 0.1s linear alternate;
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
  transition-duration: 0.1s;
}

.is-liked .heart .main-body,
.is-liked .heart .core,
.like-icon.is-liked .contour
 {
  opacity: 1;
  fill: #ff0000;
}

@keyframes scale-icon {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#dialog-id {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  inline-size: 341px;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  background: var(--accent-background-color);
  font-family: var(--content-font), fantasy, sans-serif;
  color: var(--accent-color);
  padding: 30px 42px;
  gap: 30px;
  position: fixed;
  inset: 0;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

#dialog-id::backdrop {
  background: #000;
  opacity: 0.75;
}

.dialog-info {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 257px;
  gap: 20px;
}

.dialog-floppy {
  inline-size: 94px;
}

.dialog-floppy .floppy {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-text {
  line-height: 150%;
}

.close {
  position: relative;
  border: 2px solid var(--accent-color);
  inline-size: 257px;
  background: transparent;
  padding: 12.5px 114.5px;
  cursor: pointer;
  overflow: hidden;
}

.close-text {
  color: var(--color-text-button);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}


@media (width >= 768px) {
  .header__block-content {
    min-block-size: 364px;
  }
}

@media (width >= 1024px) {
  .header {
    margin-block-start: 20px;
  }
  .header__block-content {
    padding: 140px 120.5px 25px;
  }
  
  .header__theme-menu {
    margin-block-start: 25px;
  }

  .content {
    margin-block-start: 20px;
  }

  .section__info label {
    inset-inline-end: 23px;
    inset-block-start: 27px;
  }

  .section__block {
    padding-block-start: 30px;
    gap: 26px;
  }
  
  .click__save-button {
    flex-direction: row;
    padding: 10px 17px;
  }
}
