/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --content-title-weight: 800;
  --heart-fill: #FF0000;
  --accent-color: #00cc14;
  --accent-background-color: #000;
  --color-text-button: #00cc14;
  --content-text-shadow: #000;
  --main-body-fill: #00cc14;
  --core-fill: #00cc14;
  --heart-contour: #00cc14;
  --background-gradient-color: repeating-linear-gradient(
      to bottom,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#007f0c, #004306);
}

:root.theme-light {
  --content-title-weight: 700;
  --heart-fill: #FF0000;
  --accent-color: #000;
  --heart-contour: #000;
  --core-fill: #000;
  --main-body-fill: #000;
  --color-text-button: #fff;
  --accent-background-color: #fff;
  --content-text-shadow: #fff;
  --background-gradient-color: repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-title-weight: 800;
    --heart-fill: #FF0000;
    --content-text-shadow: #000;
    --color-text-button: #00cc14;
    --heart-contour: #00cc14;
    --main-body-fill: #00cc14;
    --accent-color: #00cc14;
    --core-fill: #00cc14;
    --accent-background-color: #000;
    --background-gradient-color: repeating-linear-gradient(
        to bottom,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to right,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(#007f0c, #004306);
  }
}
